<header class="header" id="header">
    <div class="header__logo"><h1 class="logo">Palo Alto</h1></div>
    <div class="nav-icon">
        <a href="javascript:void(0);" class="nav-link icon" onclick="changeNavVisibility()"></a>
    </div>
    <nav class="header__nav">
        <ul class="header__menu nav__menu list" id="hidden-nav">
            <li class="header__menu__item outline home"><a class="home nav-link">Home</a>
            </li>
            <li class="header__menu__item outline about"><a class="about nav-link" href="index.html">About</a></li>
            <li class="header__menu__item outline archive"><a class="archive nav-link" href="">Archive</a></li>
            <li class="header__menu__item outline contact"><a class="contact nav-link" href="contact.html">Contact</a>
            </li>
            <li class="header__menu__item header__search"><a href="" class="nav-link"></a></li>
        </ul>
    </nav>
</header>