<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front-end Homework weeks 7-8</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="../js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="page">
<div class="page__container">
    <header class="header" id="header">
        <div class="header__logo"><h1 class="logo">Palo Alto</h1></div>
        <div class="nav-icon">
            <a href="javascript:void(0);" class="nav-link icon" onclick="changeNavVisibility()"></a>
        </div>
        <nav class="header__nav">
            <ul class="header__menu nav__menu list" id="hidden-nav">
                <li class="header__menu__item inactive"><a class="home nav-link">Home</a></li>
                <li class="header__menu__item outline"><a class="about nav-link" href="">About</a></li>
                <li class="header__menu__item outline"><a class="archive nav-link" href="">Archive</a></li>
                <li class="header__menu__item outline"><a class="contact nav-link" href="contacts.html">Contact</a></li>
                <li class="header__menu__item header__search"><a href="" class="nav-link"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul class="articles-list list">
            <li class="article">
                <article class="article">
                    <a href="">
                        <button class="article__category-title">I do travel</button>
                    </a>
                    <div class="article__container">
                        <time datetime="09-20" class="article__date">Sep 20</time>
                        <h2 class="article__title title">No difference how many peaks you reach if there was no pleasure
                            in
                            the
                            climb.</h2>
                        <p class="article__text">
                            Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum
                            urna.
                            Pellentesque
                            suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed
                            ultrices
                            tellus
                            vitae
                            rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi
                            posuere
                            venenatis
                            ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam.
                            Cras
                            a
                            viverra
                            ipsum.
                            Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed
                            tincidunt
                            sit
                            amet,
                            pretium et
                            augue.
                        </p>
                        <section class="article-bottom">
                            <a href="">
                                <button class="link-to-full-article button">Read more</button>
                            </a>
                            <ul class="article__hashtags list">
                                <li class="article__hashtags__hashtag"><a><span class="outline">Yosemite</span></a></li>
                                <li class="article__hashtags__hashtag"><a><span class="outline">Peak</span></a></li>
                                <li class="article__hashtags__hashtag"><a><span class="outline">Explorer</span></a></li>
                            </ul>
                        </section>
                    </div>
                </article>
            </li>
            <li class="article">
                <article class="article">
                    <section class="article-precedes-photo"><img class="article__photo" src="../images/mountain.jpg"
                                                                 alt="Mountain photo"></section>
                    <section class="article-top">
                        <a href="">
                            <button class="article__category-title on-photo">I do observe</button>
                        </a>
                        <div class="article__container">
                            <h3 class="article__date">Sep 18</h3>
                            <h2 class="article__title title">You know, I'd rather argue with you, then laugh with anyone
                                else.</h2>
                            <p class="article__text-entrance">Curabitur luctus placerat lorem id eleifend. Nulla ac
                                lacus
                                finibus,
                                tempor
                                velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus
                                nec. Donec
                                a euismod est, vitae accumsan purus. Proin
                                aliquet ex massa, ac finibus magna commodo vitae.</p>
                            <p class="article__text">
                                Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum
                                urna.
                                Pellentesque
                                suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed
                                ultrices
                                tellus
                                vitae
                                rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi
                                posuere
                                venenatis
                                ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam.
                                Cras a
                                viverra
                                ipsum.
                                Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed
                                tincidunt sit
                                amet,
                                pretium et
                                augue.
                                QSed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra.
                                Curabitur semper
                                scelerisque
                                turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis
                                id
                                congue quis,
                                euismod
                                id nisi. In varius congue diam, et viverra lorem bibendum ut.
                            </p>
                            <section class="article-bottom">
                                <a href="">
                                    <button class="link-to-full-article button">Read more</button>
                                </a>
                                <ul class="article__hashtags list">
                                    <li class="article__hashtags__hashtag"><a><span class="outline">Yosemite</span></a>
                                    </li>
                                    <li class="article__hashtags__hashtag"><a><span class="outline">Peak</span></a></li>
                                    <li class="article__hashtags__hashtag"><a><span class="outline">Photo</span></a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </section>
                </article>
            </li>
            <li class="article">
                <article class="article">
                    <a href="">
                        <button class="article__category-title">I do reflect</button>
                    </a>
                    <section class="article__container">
                        <h3 class="article__date">Sep 11</h3>
                        <h2 class="article__title title">Democracy means simply the bludgeoning of the people by the
                            people for
                            the
                            people.</h2>
                        <div class="clearfix">
                            <div class="article__left-side"><img class="article__photo" src="../images/statue.jpg"
                                                                 alt="Statue of woman">
                            </div>
                            <div class="article__right-side">
                                <p class="article__text">
                                    Quisque congue lacus mattis massa luctus, nec hendrerit
                                    purus aliquet. Ut ac elementum urna.
                                    Pellentesque
                                    suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed
                                    ultrices tellus
                                    vitae
                                    rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                                    Morbi
                                    posuere
                                    venenatis
                                    ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat
                                    quam. Cras
                                    a
                                    viverra
                                    ipsum.
                                    Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed
                                    tincidunt
                                    sit amet,
                                    pretium
                                    et
                                    augue.
                                </p>
                                <p class="article__text">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit
                                    amet
                                    felis.
                                    Praesent
                                    dictum
                                    eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod
                                    volutpat
                                    lorem,
                                    <span class="article__text-link"> <a href=""> vertibulum  malesuada </a>
               </span> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat.
                                    Curabitur
                                    tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at,
                                    lobortis
                                    fringilla
                                    nibh.
                                    Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere
                                    nibh a,
                                    eleifend
                                    augue.
                                    Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut
                                    maximus dolor
                                    euismod
                                    nec.
                                    Suspendisse sit amet feugiat turpis.</p>
                                <p class="article__text-quote">Curabitur ut leo pulvinar, consectetur magna eu, feugiat
                                    purus. Morbi
                                    hendrerit
                                    lectus turpis, a porttitor velit imperdiet id.</p>
                                <p class="article__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor
                                    sem,
                                    consectetur nec
                                    hendrerit
                                    ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla
                                    mattis
                                    tincidunt
                                    auctor.
                                    Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse
                                    dapibus
                                    feugiat
                                    tincidunt. Aliquam gravida quam at ipsum sagittis bibendum. </p>
                            </div>
                        </div>
                        <section class="article-bottom">
                            <a href="">
                                <button class="link-to-full-article button">Read more</button>
                            </a>
                            <ul class="article__hashtags list">
                                <li class="article__hashtags__hashtag"><a><span class="outline">Democracy</span></a>
                                </li>
                                <li class="article__hashtags__hashtag"><a><span class="outline">Introspection</span></a>
                                </li>
                            </ul>
                        </section>
                    </section>
                </article>
            </li>
        </ul>
    </main>
</div>
<footer class="footer">
    <div class="footer__logo"><h2 class="logo">Palo Alto</h2></div>
    <nav class="footer__nav">
        <ul class="footer__menu nav__menu list">
            <li class="footer__menu__item inactive"><a class="nav-link">Home</a></li>
            <li class="footer__menu__item outline"><a class="nav-link" href="">About</a></li>
            <li class="footer__menu__item outline"><a class="nav-link" href="">Archive</a></li>
            <li class="footer__menu__item outline"><a class="nav-link" href="">Contact</a></li>
            <li class="footer__menu__item search"><a class="nav-link" href=""></a></li>
        </ul>
    </nav>
    <div class="footer__text-paragraph">
        <p>Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper
            ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
    </div>
    <div class="footer__rights">
        <h3 class="footer__rights-info">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span
                class="footer__rights-info__link"> <a class="link" href="">PixelBuddha Team</a></span></h3>
    </div>
    <ul class="footer__social-links list">
        <li class="social-links__item facebook"><a class="link" href=""></a></li>
        <li class="social-links__item twitter"><a class="link" href=""></a></li>
        <li class="social-links__item instagram"><a class="link" href=""></a></li>
        <li class="social-links__item pinterest"><a class="link" href=""></a></li>
    </ul>
</footer>
</body>
</html>