<footer class="footer">
    <div class="footer__logo"><h2 class="logo">Palo Alto</h2></div>
    <nav class="footer__nav">
        <ul class="footer__menu nav__menu list">
            <li class="footer__menu__item inactive"><a class="nav-link">Home</a></li>
            <li class="footer__menu__item outline"><a class="nav-link" href="">About</a></li>
            <li class="footer__menu__item outline"><a class="nav-link" href="">Archive</a></li>
            <li class="footer__menu__item outline"><a class="nav-link" href="">Contact</a></li>
            <li class="footer__menu__item search"><a class="nav-link" href=""></a></li>
        </ul>
    </nav>
    <div class="footer__text-paragraph">
        <p>Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper
            ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
    </div>
    <div class="footer__rights">
        <h3 class="footer__rights-info">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span
                class="footer__rights-info__link"> <a class="link" href="">PixelBuddha Team</a></span></h3>
    </div>
    <ul class="footer__social-links list">
        <li class="social-links__item facebook"><a class="link" href=""></a></li>
        <li class="social-links__item twitter"><a class="link" href=""></a></li>
        <li class="social-links__item instagram"><a class="link" href=""></a></li>
        <li class="social-links__item pinterest"><a class="link" href=""></a></li>
    </ul>
</footer>